
html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/fonts/rubik-v14-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/rubik-v14-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/rubik-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/rubik-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/fonts/rubik-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/rubik-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
  box-sizing: border-box;
}

a {
  color: #ae0917;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
    padding: 0;
    list-style-type: none;
}

header h1 {
    margin: .6rem 0 1rem;
    font-size: 160%;
    color: #ae0917;
    margin: 0.2rem;
    white-space: nowrap;
}

small {
  font-size: 60%;
  margin-left: .6rem;
  font-weight: normal
}

footer {
  margin-top: 2rem;
  background: #5f6062;
  padding: 1rem;
  color: white;
}

section {
  font-size: 1.2rem;
  line-height: 1.5;
}

.region-cities {
    margin-bottom: 2rem;
    box-shadow: 0 1px 3px rgba(77, 21, 21, 0.12),
      0 1px 2px rgba(47, 33, 33, 0.24);
    background: #eeeeeea3;
    border-radius: 0.6rem;
    padding: 0 0.6rem 1rem;
  }

.region-cities div {
    display: flex;
    align-items: center;
}

.region-cities ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    box-shadow: 0 1px 3px rgba(209, 41, 41, 0.12),
    0 1px 2px rgba(41, 117, 209, 0.24);
    background: #fdfcff;
    padding: 0.6rem 0.1rem;
    margin: 0.3rem;
    list-style-type: none;
    border-radius: 0.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
    @media (max-width: 800px) {
        width: 16rem;
    }
}
.item  > * {
    margin: 0 1rem;
}

.item h4 {
    font-weight: 500;
    color: #444;
    text-transform: uppercase;
    margin: 0.4rem;
    font-size: 60%;
    display: inline;
}

input {
    border: 1px solid dark-blue;
    border-radius: 0.3rem;
    padding: 0.1rem 0.6rem;
    font-size: 100%;
    border-style: solid;
    margin-left: 1rem;
    max-width: 70%;
    display: inline;
}

Higlighter {
    background: '#88c13e';
    color: 'white';
    font-weight: 400;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    @media (max-width: 800px) {
      font-size: 90%;
    }
}


.city-image {
    width: 100%;
    position: absolute;
    object-fit: cover;
    max-height: 10rem;
    @media (max-width: 800px) {
      max-height: 6rem;
    }
}

.segments-list li {
  margin: 1rem;
}

.segments-list ul {
  margin-top: 0.6rem;
  display: flex;
  flex-wrap: wrap;
}

.segments-list ul li {
  margin: 0.1rem 1rem;
}

.segment {
    box-shadow: 0 1px 3px rgba(209, 41, 41, 0.12),
    0 1px 2px rgba(41, 117, 209, 0.24);
    margin-left: 0.6rem;
    border-radius: 0.5rem;
    padding: 0.1rem 1rem;
    @media (max-width: 800px) {
       max-width: 12rem;
        display: inline-block;
    }
}

.menu {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    @media (max-width: 800px) {
      font-size: 90%;
    }
}

.tab-button {
    background: #ae0917;
    box-shadow: #ae091733 0px 4px 14px 0px;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    border: none;
    font-size: 90%;
    margin: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
}

.tab-button a {
    color: white;
}

.menu .tab-button {
  background: #724647;
}

.menu .active-page {
  background: #ae0917;;
}

.indicateurs {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 1rem;

  max-width: 14rem;

  @media (max-width: 800px) {
    max-width: 8rem;
    h2 {
      font-size: 90%;
      text-align: center;
      max-width: auto;
      text-align: center;
    }
    .emoji {
      font-size: 150%;
    }
  }
  box-shadow: 0 1px 3px rgba(209, 41, 41, 0.12), 0 1px 2px rgba(209, 41, 41, 0.24);
  border: 2px solid black;
  border-radius: 0.2rem;
  margin: 0.6rem 0;
}

.indicateurs > h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0.4rem;
    font-size: 100%;
    max-width: 8rem;
    text-align: right;
}

.indicateurs > div {
  display: flex;
  flex-wrap : wrap;
  align-items: center;
  justify-content: space-evenly;
}

.indicateurs-list {
    flex-wrap: wrap;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: normal;
    scrollbar-width: none;
    display: flex;
    list-style-type: none;
    -moz-box-pack: center;
    justify-content: center;
    padding-left: 1.6rem;
    @media (min-width: 800px) {
      flex-wrap: wrap;
      height: auto;
    }
}

.indicateurs-list li {
  padding: 0.1rem 0rem;
  margin: 0.15rem 0.2rem;
  border-radius: 0.2rem;
  line-height: 1.6rem;
  height: 1.8rem;
  margin-bottom: 0.6rem;
}

.indicateur {
  width: 100%;
  display: flex;
  justify-content: center;
}

.indicateur button {
  cursor: zoom-in;
  margin: 0 0.4rem;
  border: 1px solid #444;
  padding: 0 0.2rem;
  line-height: 1rem;
  border-radius: 0.2rem;
  color: #444;
}

.indicateur-emoji {
  margin: 0 .6rem;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#header div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

div.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #EEE;
  border-radius: 5px;
}

span.progress-bar {
  display: inline-block;
  height: 1.5rem;
  margin-right: 0.4rem;
  color: white;
  text-align: right;
  border-radius: 5px;
}

.progress-bar span {
  padding-right: 0.4rem;
}

.ville-indicateurs {
  margin-left: 0.3rem;
  line-height: 1.2rem;
  color: black;
  display: inline-block;
}

.context {
  width: 100%;
  height: 1rem;
  bottom: 0;
  position: absolute;
}

.context-pin {
  position: absolute;
  bottom: -0.1rem;
}

.emoji-image {
  vertical-align: middle !important;
  display: inline-block;
}

main header {
  position: relative;
  margin-bottom: 1rem;
  height: 9rem; /* dunno why this is necessary to not overlap content*/
  @media (max-width: 800px) {
    height: 4rem;
  }
}

main header h1 {
  position: absolute;
  z-index: 1;
  background: #00000075;
  color: white;
  padding: 0 0.6rem;
  font-size: 200%;
  @media (max-width: 800px) {
    font-size: 180%;
  }
  margin: 0;
  top: 0;
}

.city-stats {
  position: absolute;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background: #00000085;
  color: white;
}

.city-stats p {
  padding: 0 0.6rem;
  margin: 0;
}

.city-indicators-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.confiance {
  padding: 0.1rem 0.4rem;
  color: white;
}

.about-images {
  display: flex;
  justify-content: space-evenly;
}

.medals ul {
  display: flex;
  flex-direction: column;
}

.medals > li {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.emoji-medal {
  display: inline-block;
  text-align: center;
  width: 2rem;
  font-size: 130%;
}

.default-emoji {
  filter: invert(13%) sepia(47%) saturate(6805%) hue-rotate(346deg) brightness(92%) contrast(106%);
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-map {
  width: 3rem;
  margin-right: .6rem
}

.about > ul {
  list-style-type: disc;
  padding-left: 2rem;
}

#france {
  width: 100%;
  height: 100%;
  stroke-width:2;
  stroke-miterlimit:4;
}

#france path {
  stroke:#000000;
  fill: #eee;
}

#france.hover path:hover {
  fill: #ae0917;
}

#france path.active {
  fill: #ae0917;
}

.container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 0.6rem auto 6rem;
}
